table {
  width: 100%;
}

button {
  min-width: 170px;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

button a {
  border: 1px solid;
  border-radius: 7px;
  padding: 10px 15px;
  text-decoration: none;
}

.mat-mdc-icon-button {
  border-radius: 10px !important;
  border: 1px solid red !important;
  &:hover{
    border-radius: 10px !important;
    background-color: coral !important;
  }



}

.mat-mdc-button-persistent-ripple {
  border-radius: 10px !important;
  border: 1px solid red !important;
}

